/**
  * GLobal Color Variable
  */

$primary: #3d94d6;
$secondary: #fd629c;
$success: #10ae41;
$gray: #f0f0f0;
$ligth-gray: #f6f6f6;

/**
  * Typography Color Variable
  */

$white: #fff;
$black: #000;
