/**
  * GLobal Color Variable
  */

$primary: #ef5d60;
$dark-primary: #ec4067;
$secondary: #a01a7d;
$dark-secondary: #311847;
$third: #e09f7d;

/**
  * Typography Color Variable
  */

$white: #fff;
$black: #000;
